*,*::after,*::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font: normal 16px/1.5 "Helvetica Neue", sans-serif;
	background: #456990;
	color: #fff;
	overflow-x: hidden;
	padding-bottom: 50px;
}
.intro{
	background: #F45B69;
	padding: 100px 0;
}
.container{
	margin: 0 auto;
	width: 90%;
	max-width: 1200px;
	text-align: center;
}
h1{
	font-size: 2.5rem;
}
.timeline ul li{
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 150px;
	background: #fff;
}
.timeline ul li::after{
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	left: 50%;
	bottom: 0;
	background: #fff;
	transform: translateX(-50%);
	border-radius: 50%;
	transition: background 360ms ease-in-out;
}
.timeline ul li.in-view::after{
	background: #F45B69;
}
.timeline ul li div{
	position: relative;
	bottom: 0;
	width: 400px;
	padding: 15px;
	background: #F45B69;
	visibility: hidden;
	opacity: 0;
	transition: all 360ms ease-in-out;
}
.timeline ul li.in-view div{
	visibility: visible;
	opacity: 1;
}
.timeline ul li div::before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0px;
	border-style: solid;
}
.timeline ul li:nth-child(odd) div{
	left: 45px;
	transform: translate3d(200px, 0, 0);
}
.timeline ul li:nth-child(odd) div::before{
	left: -18px;
	border-width: 12px 18px 12px 0;
	border-color: transparent #F45B69 transparent transparent;
}
.timeline ul li:nth-child(even) div{
	left: -440px;
	transform: translate3d(-200px, 0, 0);
}
.timeline ul li.in-view:nth-child(even) div, .timeline ul li.in-view:nth-child(odd) div{
	transform: none;
}
.timeline ul li:nth-child(even) div::before{
	right: -18px;
	border-width: 12px 0 12px 18px;
	border-color: transparent transparent transparent #F45B69;
}

@media screen and (max-width: 900px){
	.timeline ul li div{
		width: 250px;
	}
	.timeline ul li:nth-child(even) div{
		left: -290px;
	}
}
@media screen and (max-width: 600px){
	.timeline ul li{
		margin-left: 60px;
	}
	.timeline ul li div{
		width: calc(100vw - 60);
	}
	.timeline ul li:nth-child(even) div{
		left: 45px;
	}
	.timeline ul li:nth-child(even) div::before{
		left: -18px;
		border-width: 12px 18px 12px 0;
		border-color: transparent #F45B69 transparent transparent ;
	}
}